<!DOCTYPE html>
<html>
<head>
  <title>Airport Parking from Discount Park and Ride - Coming soon</title>
  <meta name="description" content="Sign up for advanced notice of services & discounts from Discount Park and Ride - the economic and secure way to book long term parking online.">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "custom", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
